{% case icon %}
  
  {% when 'icon-star-white' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="188" height="33" viewBox="0 0 188 33" fill="none">
      <g filter="url(#filter0_d_59_2)">
      <path d="M17.1661 1.4064C17.4671 0.819046 18.3066 0.819046 18.6076 1.4064L22.7303 9.45109C22.8544 9.69336 23.092 9.85704 23.3626 9.88676L32.9342 10.938C33.6421 11.0158 33.9122 11.9036 33.3676 12.3624L26.4183 18.2165C26.1889 18.4097 26.0851 18.7139 26.1485 19.0071L27.9894 27.5183C28.1334 28.184 27.4414 28.7193 26.8333 28.4127L18.2514 24.086C18.0221 23.9704 17.7515 23.9704 17.5222 24.086L8.94039 28.4127C8.33225 28.7193 7.64024 28.184 7.78422 27.5183L9.62513 19.0071C9.68854 18.7139 9.58473 18.4097 9.35533 18.2165L2.40609 12.3624C1.86143 11.9036 2.13154 11.0158 2.83945 10.938L12.4111 9.88676C12.6817 9.85704 12.9192 9.69336 13.0434 9.45109L17.1661 1.4064Z" fill="white"/>
      <path d="M55.0726 1.4064C55.3736 0.819046 56.2131 0.819046 56.5141 1.4064L60.6368 9.45109C60.7609 9.69336 60.9985 9.85704 61.2691 9.88676L70.8407 10.938C71.5486 11.0158 71.8187 11.9036 71.2741 12.3624L64.3248 18.2165C64.0954 18.4097 63.9916 18.7139 64.055 19.0071L65.8959 27.5183C66.0399 28.184 65.3479 28.7193 64.7398 28.4127L56.1579 24.086C55.9286 23.9704 55.658 23.9704 55.4287 24.086L46.8469 28.4127C46.2387 28.7193 45.5467 28.184 45.6907 27.5183L47.5316 19.0071C47.595 18.7139 47.4912 18.4097 47.2618 18.2165L40.3126 12.3624C39.7679 11.9036 40.038 11.0158 40.7459 10.938L50.3176 9.88676C50.5882 9.85704 50.8257 9.69336 50.9499 9.45109L55.0726 1.4064Z" fill="white"/>
      <path d="M92.9796 1.4064C93.2806 0.819046 94.12 0.819046 94.421 1.4064L98.5437 9.45109C98.6679 9.69336 98.9055 9.85704 99.1761 9.88676L108.748 10.938C109.456 11.0158 109.726 11.9036 109.181 12.3624L102.232 18.2165C102.002 18.4097 101.899 18.7139 101.962 19.0071L103.803 27.5183C103.947 28.184 103.255 28.7193 102.647 28.4127L94.0649 24.086C93.8356 23.9704 93.565 23.9704 93.3357 24.086L84.7539 28.4127C84.1457 28.7193 83.4537 28.184 83.5977 27.5183L85.4386 19.0071C85.502 18.7139 85.3982 18.4097 85.1688 18.2165L78.2196 12.3624C77.6749 11.9036 77.945 11.0158 78.6529 10.938L88.2245 9.88676C88.4951 9.85704 88.7327 9.69336 88.8569 9.45109L92.9796 1.4064Z" fill="white"/>
      <path d="M130.886 1.4064C131.187 0.819046 132.026 0.819046 132.327 1.4064L136.45 9.45109C136.574 9.69336 136.812 9.85704 137.082 9.88676L146.654 10.938C147.362 11.0158 147.632 11.9036 147.087 12.3624L140.138 18.2165C139.909 18.4097 139.805 18.7139 139.868 19.0071L141.709 27.5183C141.853 28.184 141.161 28.7193 140.553 28.4127L131.971 24.086C131.742 23.9704 131.471 23.9704 131.242 24.086L122.66 28.4127C122.052 28.7193 121.36 28.184 121.504 27.5183L123.345 19.0071C123.408 18.7139 123.304 18.4097 123.075 18.2165L116.126 12.3624C115.581 11.9036 115.851 11.0158 116.559 10.938L126.131 9.88676C126.401 9.85704 126.639 9.69336 126.763 9.45109L130.886 1.4064Z" fill="white"/>
      <path d="M168.792 1.4064C169.093 0.819046 169.933 0.819046 170.234 1.4064L174.356 9.45109C174.481 9.69336 174.718 9.85704 174.989 9.88676L184.56 10.938C185.268 11.0158 185.538 11.9036 184.994 12.3624L178.044 18.2165C177.815 18.4097 177.711 18.7139 177.775 19.0071L179.616 27.5183C179.76 28.184 179.068 28.7193 178.459 28.4127L169.878 24.086C169.648 23.9704 169.378 23.9704 169.148 24.086L160.566 28.4127C159.958 28.7193 159.266 28.184 159.41 27.5183L161.251 19.0071C161.315 18.7139 161.211 18.4097 160.981 18.2165L154.032 12.3624C153.488 11.9036 153.758 11.0158 154.466 10.938L164.037 9.88676C164.308 9.85704 164.545 9.69336 164.669 9.45109L168.792 1.4064Z" fill="white"/>
      </g>
      <defs>
      <filter id="filter0_d_59_2" x="1.11694" y="0.965881" width="185.166" height="29.5355" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
      <feOffset dy="1"/>
      <feGaussianBlur stdDeviation="0.5"/>
      <feComposite in2="hardAlpha" operator="out"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_59_2"/>
      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_59_2" result="shape"/>
      </filter>
      </defs>
    </svg>  

  {% when 'icon-star-green' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="188" height="33" viewBox="0 0 188 33" fill="none">
      <path d="M17.077 1.4064C17.378 0.819046 18.2175 0.819046 18.5185 1.4064L22.6412 9.45109C22.7653 9.69336 23.0029 9.85704 23.2735 9.88676L32.8451 10.938C33.553 11.0158 33.8231 11.9036 33.2785 12.3624L26.3292 18.2165C26.0998 18.4097 25.996 18.7139 26.0594 19.0071L27.9003 27.5183C28.0443 28.184 27.3523 28.7193 26.7442 28.4127L18.1623 24.086C17.933 23.9704 17.6624 23.9704 17.4331 24.086L8.85128 28.4127C8.24314 28.7193 7.55113 28.184 7.69511 27.5183L9.53602 19.0071C9.59942 18.7139 9.49562 18.4097 9.26622 18.2165L2.31698 12.3624C1.77232 11.9036 2.04243 11.0158 2.75034 10.938L12.3219 9.88676C12.5926 9.85704 12.8301 9.69336 12.9543 9.45109L17.077 1.4064Z" fill="#5BB426"/>
      <path d="M54.9835 1.4064C55.2845 0.819046 56.124 0.819046 56.425 1.4064L60.5477 9.45109C60.6718 9.69336 60.9094 9.85704 61.18 9.88676L70.7516 10.938C71.4595 11.0158 71.7296 11.9036 71.185 12.3624L64.2357 18.2165C64.0063 18.4097 63.9025 18.7139 63.9659 19.0071L65.8068 27.5183C65.9508 28.184 65.2588 28.7193 64.6506 28.4127L56.0688 24.086C55.8395 23.9704 55.5689 23.9704 55.3396 24.086L46.7578 28.4127C46.1496 28.7193 45.4576 28.184 45.6016 27.5183L47.4425 19.0071C47.5059 18.7139 47.4021 18.4097 47.1727 18.2165L40.2235 12.3624C39.6788 11.9036 39.9489 11.0158 40.6568 10.938L50.2284 9.88676C50.499 9.85704 50.7366 9.69336 50.8608 9.45109L54.9835 1.4064Z" fill="#5BB426"/>
      <path d="M92.8905 1.4064C93.1915 0.819046 94.0309 0.819046 94.3319 1.4064L98.4546 9.45109C98.5788 9.69336 98.8164 9.85704 99.087 9.88676L108.659 10.938C109.366 11.0158 109.637 11.9036 109.092 12.3624L102.143 18.2165C101.913 18.4097 101.809 18.7139 101.873 19.0071L103.714 27.5183C103.858 28.184 103.166 28.7193 102.558 28.4127L93.9758 24.086C93.7465 23.9704 93.4759 23.9704 93.2466 24.086L84.6648 28.4127C84.0566 28.7193 83.3646 28.184 83.5086 27.5183L85.3495 19.0071C85.4129 18.7139 85.3091 18.4097 85.0797 18.2165L78.1305 12.3624C77.5858 11.9036 77.8559 11.0158 78.5638 10.938L88.1354 9.88676C88.406 9.85704 88.6436 9.69336 88.7678 9.45109L92.8905 1.4064Z" fill="#5BB426"/>
      <path d="M130.797 1.4064C131.098 0.819046 131.937 0.819046 132.238 1.4064L136.361 9.45109C136.485 9.69336 136.722 9.85704 136.993 9.88676L146.565 10.938C147.273 11.0158 147.543 11.9036 146.998 12.3624L140.049 18.2165C139.819 18.4097 139.716 18.7139 139.779 19.0071L141.62 27.5183C141.764 28.184 141.072 28.7193 140.464 28.4127L131.882 24.086C131.653 23.9704 131.382 23.9704 131.153 24.086L122.571 28.4127C121.963 28.7193 121.271 28.184 121.415 27.5183L123.256 19.0071C123.319 18.7139 123.215 18.4097 122.986 18.2165L116.037 12.3624C115.492 11.9036 115.762 11.0158 116.47 10.938L126.042 9.88676C126.312 9.85704 126.55 9.69336 126.674 9.45109L130.797 1.4064Z" fill="#5BB426"/>
      <path d="M168.703 1.4064C169.004 0.819046 169.844 0.819046 170.145 1.4064L174.267 9.45109C174.391 9.69336 174.629 9.85704 174.9 9.88676L184.471 10.938C185.179 11.0158 185.449 11.9036 184.905 12.3624L177.955 18.2165C177.726 18.4097 177.622 18.7139 177.686 19.0071L179.526 27.5183C179.67 28.184 178.978 28.7193 178.37 28.4127L169.788 24.086C169.559 23.9704 169.289 23.9704 169.059 24.086L160.477 28.4127C159.869 28.7193 159.177 28.184 159.321 27.5183L161.162 19.0071C161.226 18.7139 161.122 18.4097 160.892 18.2165L153.943 12.3624C153.398 11.9036 153.669 11.0158 154.376 10.938L163.948 9.88676C164.219 9.85704 164.456 9.69336 164.58 9.45109L168.703 1.4064Z" fill="#5BB426"/>
    </svg>
    
  {% when 'icon-star-yellow' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="113" height="22" viewBox="0 0 113 22" fill="none">
      <path d="M10.0456 1.56796C10.3368 0.94572 11.2217 0.94572 11.5128 1.56796L13.6111 6.05307C13.7296 6.30633 13.9703 6.48056 14.2479 6.51396L19.1834 7.10772C19.8693 7.19024 20.1436 8.03849 19.6359 8.50699L16.0027 11.8596C15.7957 12.0505 15.7028 12.3353 15.7574 12.6116L16.7127 17.4499C16.8461 18.1253 16.1293 18.6485 15.5266 18.3157L11.1707 15.9101C10.9271 15.7755 10.6314 15.7755 10.3877 15.9101L6.03177 18.3157C5.42911 18.6485 4.71235 18.1253 4.84572 17.4499L5.80105 12.6116C5.85561 12.3353 5.76271 12.0505 5.55574 11.8596L1.92255 8.50699C1.41483 8.03849 1.68913 7.19024 2.37504 7.10772L7.31048 6.51396C7.58808 6.48056 7.82882 6.30633 7.94731 6.05307L10.0456 1.56796Z" fill="#FFAC30"/>
      <path d="M32.7671 1.56796C33.0583 0.94572 33.9432 0.94572 34.2343 1.56796L36.3326 6.05307C36.4511 6.30633 36.6918 6.48056 36.9694 6.51396L41.9049 7.10772C42.5908 7.19024 42.8651 8.03849 42.3574 8.50699L38.7242 11.8596C38.5172 12.0505 38.4243 12.3353 38.4789 12.6116L39.4342 17.4499C39.5676 18.1253 38.8508 18.6485 38.2481 18.3157L33.8922 15.9101C33.6486 15.7755 33.3529 15.7755 33.1092 15.9101L28.7533 18.3157C28.1506 18.6485 27.4338 18.1253 27.5672 17.4499L28.5225 12.6116C28.5771 12.3353 28.4842 12.0505 28.2772 11.8596L24.6441 8.50699C24.1363 8.03849 24.4106 7.19024 25.0965 7.10772L30.032 6.51396C30.3096 6.48056 30.5503 6.30633 30.6688 6.05307L32.7671 1.56796Z" fill="#FFAC30"/>
      <path d="M55.4889 1.56796C55.78 0.94572 56.6649 0.94572 56.956 1.56796L59.0544 6.05307C59.1728 6.30633 59.4136 6.48056 59.6912 6.51396L64.6266 7.10772C65.3125 7.19024 65.5868 8.03849 65.0791 8.50699L61.4459 11.8596C61.2389 12.0505 61.1461 12.3353 61.2006 12.6116L62.1559 17.4499C62.2893 18.1253 61.5725 18.6485 60.9699 18.3157L56.614 15.9101C56.3703 15.7755 56.0746 15.7755 55.8309 15.9101L51.475 18.3157C50.8723 18.6485 50.1556 18.1253 50.289 17.4499L51.2443 12.6116C51.2988 12.3353 51.2059 12.0505 50.999 11.8596L47.3658 8.50699C46.8581 8.03849 47.1324 7.19024 47.8183 7.10772L52.7537 6.51396C53.0313 6.48056 53.2721 6.30633 53.3905 6.05307L55.4889 1.56796Z" fill="#FFAC30"/>
      <path d="M78.2101 1.56796C78.5012 0.94572 79.3861 0.94572 79.6772 1.56796L81.7756 6.05307C81.8941 6.30633 82.1348 6.48056 82.4124 6.51396L87.3478 7.10772C88.0337 7.19024 88.308 8.03849 87.8003 8.50699L84.1671 11.8596C83.9602 12.0505 83.8673 12.3353 83.9218 12.6116L84.8772 17.4499C85.0105 18.1253 84.2938 18.6485 83.6911 18.3157L79.3352 15.9101C79.0915 15.7755 78.7958 15.7755 78.5521 15.9101L74.1962 18.3157C73.5936 18.6485 72.8768 18.1253 73.0102 17.4499L73.9655 12.6116C74.0201 12.3353 73.9272 12.0505 73.7202 11.8596L70.087 8.50699C69.5793 8.03849 69.8536 7.19024 70.5395 7.10772L75.4749 6.51396C75.7525 6.48056 75.9933 6.30633 76.1118 6.05307L78.2101 1.56796Z" fill="#FFAC30"/>
      <path d="M100.932 1.56796C101.223 0.94572 102.108 0.94572 102.399 1.56796L104.497 6.05307C104.616 6.30633 104.856 6.48056 105.134 6.51396L110.069 7.10772C110.755 7.19024 111.03 8.03849 110.522 8.50699L106.889 11.8596C106.682 12.0505 106.589 12.3353 106.643 12.6116L107.599 17.4499C107.732 18.1253 107.015 18.6485 106.413 18.3157L102.057 15.9101C101.813 15.7755 101.517 15.7755 101.274 15.9101L96.9177 18.3157C96.3151 18.6485 95.5983 18.1253 95.7317 17.4499L96.687 12.6116C96.7416 12.3353 96.6487 12.0505 96.4417 11.8596L92.8085 8.50699C92.3008 8.03849 92.5751 7.19024 93.261 7.10772L98.1964 6.51396C98.474 6.48056 98.7148 6.30633 98.8333 6.05307L100.932 1.56796Z" fill="#FFAC30"/>
    </svg>
    
{% endcase %}