{{ 'component-announcement-bar.css' | asset_url | stylesheet_tag }}

<div class="announcement_text text-center text-white text-shadow text-bold" style="background:{{ section.settings.section_bg }}">
  {% if section.settings.logo != blank %}
    <div class="logo hide--mobile">
      <a href="/collections/equine-1">
        {% render 'rimage', image: section.settings.logo %}
      </a>
    </div>
  {% endif %}
  {{ section.settings.title }}
</div>

{% schema %}
{
  "name": "Announcement bar",
  "class": "section-announcement-bar",
  "settings": [
    {
      "type": "color",
      "id": "section_bg",
      "label": "Background"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Text"
    }
  ]
}
{% endschema %}