{{ 'component-featured-review.css' | asset_url | stylesheet_tag }}

{% render 'section-styles', section: section %}

<div class="section_container page-width">
  
  <div class="main_content">
    <div class="section_header text-center section_header-regular">
      {% if section.settings.pretitle != blank %}
        <div class="pretitle">{{ section.settings.pretitle }}</div>
      {% endif %}
      {% if section.settings.title != blank %}
        <h2 class="title text-bold">{{ section.settings.title }}</h2>
      {% endif %}
    </div>
    {% if section.blocks.size > 0 %}
      <div class="reviews_wrapper justify-between" data-mob-slider data-slides-to-show="1" data-custom-arrows>
        {% for block in section.blocks %}
          <div class="review_item">
            <div class="review_item_wrapper d-flex">
              <div class="image_wrapper">{% render 'rimage', image: block.settings.icon %}</div>
              <div class="content_wrapper">
                <div class="icon_wrapper">{% render 'icon' with 'icon-star-yellow' %}</div>
                {% if block.settings.title != blank %}
                  <div class="author text-bold">{{ block.settings.title }}</div>
                {% endif %}
                {% if block.settings.subtitle != blank %}
                  <div class="subtitle text-bold">{{ block.settings.subtitle }}</div>
                {% endif %}
                {% if block.settings.desc != blank %}
                  <div class="rte desc hide--mobile">{{ block.settings.desc }}</div>
                {% endif %}
              </div>
              {% if block.settings.desc != blank %}
                <div class="rte desc hide--desktop">{{ block.settings.desc }}</div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>

</div>

{% schema %}
{
  "name": "Featured reviews",
  "class": "section-featured-reviews",
  "settings": [
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "header",
      "content": "Contents"
    },
    {
      "type": "text",
      "id": "pretitle",
      "label": "Pretitle"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "Review",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Author"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "richtext",
          "id": "desc",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured reviews"
    }
  ]
}
{% endschema %}