{{ 'component-featured-products-grid.css' | asset_url | stylesheet_tag }}
{{ 'component-rating-product-grid.css' | asset_url | stylesheet_tag }}

{% render 'section-styles', section: section %}

<style>
  #shopify-section-{{ section.id }} {
    background: {{ section.settings.section_bg }};
  }
</style>

<div class="section_container page-width">
  <div class="section_header text-center section_header-regular">
    {% if section.settings.pretitle != blank %}
      <div class="pretitle">{{ section.settings.pretitle }}</div>
    {% endif %}
    {% if section.settings.title != blank %}
      <h2 class="title text-bold">{{ section.settings.title }}</h2>
    {% endif %}
  </div>
  <div class="main_wrapper">
    {% if section.blocks.size > 0 %}
      <div class="grid-wrapper justify-between" data-mob-slider data-slides-to-show="1" data-custom-arrows>
        {% for block in section.blocks %}
          {% assign product = block.settings.product %}
          {% if product != blank %}
            <div class="product-grid-item product">
              <div class="product-grid-item-wrapper card-wrapper text-center">
                <div class="image_wrapper">{% render 'rimage', image: product.featured_image %}</div>
                <div class="product_info_wrapper">
                  {% if product.vendor %}
                    <div class="product_vendor">{{ product.vendor }}</div>
                  {% endif %}
                  <div class="product_title text-bold">{{ block.settings.title | default: product.title }}</div>
                  <div class="product_price text-bold">{{ product.selected_or_first_available_variant.price | money }}</div>
                  <div class="product_review card-information">
                    {%- if product.metafields.reviews.rating.value != blank -%}
                      {% liquid
                        assign rating_decimal = 0
                        assign decimal = product.metafields.reviews.rating.value.rating | modulo: 1
                        if decimal >= 0.3 and decimal <= 0.7
                          assign rating_decimal = 0.5
                        elsif decimal > 0.7
                          assign rating_decimal = 1
                        endif
                      %}
                      <div class="rating" role="img" aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: product.metafields.reviews.rating.value, rating_max: product.metafields.reviews.rating.value.scale_max }}">
                        <span aria-hidden="true" class="rating-star color-icon-{{ settings.accent_icons }}" style="--rating: {{ product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"></span>
                      </div>
                      <p class="rating-text caption">
                        <span aria-hidden="true">{{ product.metafields.reviews.rating.value }} / {{ product.metafields.reviews.rating.value.scale_max }}</span>
                      </p>
                      <p class="rating-count caption">
                        <span aria-hidden="true">({{ product.metafields.reviews.rating_count }})</span>
                        <span class="visually-hidden">{{ product.metafields.reviews.rating_count }} {{ "accessibility.total_reviews" | t }}</span>
                      </p>
                    {%- endif -%}
                  </div>
                  <form method="post" action="/cart/add" class="quick_add_to_cart_form">
                    <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                    <input type="hidden" id="quantity" name="quantity" value="1"/>
                    <button class="button button-circle" type="submit">Add To Cart</button>
                  </form> 
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Featured Products Grid",
  "class": "section-featured-products-grid",
  "settings": [
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "section_bg",
      "label": "Background"
    },
    {
      "type": "text",
      "id": "pretitle",
      "label": "Pretitle"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Display name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Products Grid"
    }
  ]
}
{% endschema %}