{{ 'component-footer-landing.css' | asset_url | stylesheet_tag }}

<style>
  #shopify-section-{{ section.id }} {
    background: url({{ section.settings.image | img_url: '2000x' }});
  }
</style>
<script>

    (function(h,o,t,j,a,r){

        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};

        h._hjSettings={hjid:3035123,hjsv:6};

        a=o.getElementsByTagName('head')[0];

        r=o.createElement('script');r.async=1;

        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;

        a.appendChild(r);

    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');

</script>
<div class="section_container text-center">
  {% if section.settings.footer_menu %}
    <ul class="footer_menus d-flex justify-center">
      {% for link in section.settings.footer_menu.links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if section.settings.footer_info != blank %}
    <div class="footer_info">{{ section.settings.footer_info }}</div>
  {% endif %}
  {% if section.settings.show_social %}
    <ul class="socialIcons d-flex justify-center">
      <li><a href="https://www.facebook.com/SilverLiningHerbs/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href="https://twitter.com/SLherbs" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href="https://www.instagram.com/silverliningherbs/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      <li><a href="https://www.youtube.com/user/silverliningherbs" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
    </ul>
  {% endif %}
</div>

{% schema %}
{
  "name": "Footer",
  "class": "section-footer-landing",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Footer background"
    },
    {
      "type": "link_list",
      "id": "footer_menu",
      "label": "Menu"
    },
    {
      "type": "richtext",
      "id": "footer_info",
      "label": "Footer Info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "label": "Show social icons"
    }
  ]
}
{% endschema %}