{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<style>
.footer {
    margin-top: 0px;
}
.section-footer-1 .parallax-window {
    padding-top: 60px;
    padding-bottom: 60px;
    color: #fff;
}
.section-footer-1 .parallax-window .form-inline {
    margin-top: 50px;
}

</style>
<div class="section-footer-1">
        <div class="parallax-window" data-parallax="scroll"
             style="background:url('https://www.silverliningherbs.com/wp-content/themes/sliverliningherbs/assets/images/f1.jpg'); background-attachment: fixed; background-repeat: no-repeat; background-size: cover; background-position: 50% 100%;">
            <div class="container">
                <div class="row">  
                    <div class="col-md-12 text-center">
                        <h2>Want The Scoop First?</h2>
                        <p>Be the first one to get discount codes, monthly
                            offers and news on your mobile or index.</p>
                        <div class="form-inline">
                            <!-- <div class="form-group">
                                <label>Subscribe To Text</label>
                                <input type="text" class="form-control" placeholder="Your Phone Number">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div> -->
                            <div class="form-group cfxs">
                                <script charset="utf-8" type="text/javascript"
                                        src="//js.hsforms.net/forms/v2.js"></script>
                                <script>
                                  hbspt.forms.create({
                                    portalId: '8376140',
                                    formId: 'b10677a2-761b-4c72-a40b-04dbe51f35c4',
                                  });
                                </script>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
<footer class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
   <div class="footerz">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>Our Company</h3>
					<ul id="menu-menuf-1" class="flinks">
<li id="menu-item-76372" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-43 current_page_item menu-item-76372"><a href="https://www.silverliningherbs.com/about-us/" aria-current="page">About Us</a></li>
<li id="menu-item-76373" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-76373"><a href="https://www.silverliningherbs.com/our-team/">Our Team</a></li>
<li id="menu-item-77231" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-77231"><a href="https://www.silverliningherbs.com/careers/">Careers</a></li>
<li id="menu-item-76959" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-76959"><a href="https://www.silverliningherbs.com/category/slh-endorsers/">Our Endorsers</a></li>
<li id="menu-item-76376" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-76376"><a href="https://www.silverliningherbs.com/about-us/nasc-silver-lining/">NASC &amp; Silver Lining</a></li>
<li id="menu-item-76374" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-76374"><a href="https://www.silverliningherbs.com/shop1/f-a-q/">F.A.Q.</a></li>
<li id="menu-item-76377" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-76377"><a href="https://www.silverliningherbs.com/catalog-2022/">SLH CATALOG</a></li>
</ul>               </div>
                <div class="col-md-2">
                    <h3>Slh News</h3>
					<ul id="menu-menuf-2" class="flinks"><li id="menu-item-76379" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-76379"><a href="https://www.silverliningherbs.com/category/general-equine/">Equine</a></li>
<li id="menu-item-76380" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-76380"><a href="https://www.silverliningherbs.com/category/canine-2/">Canine</a></li>
<li id="menu-item-76381" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-76381"><a href="https://www.silverliningherbs.com/category/human-health/">Human</a></li>
<li id="menu-item-76382" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-76382"><a href="https://www.silverliningherbs.com/category/slh_videos/">Videos</a></li>
<li id="menu-item-76383" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-76383"><a href="https://www.silverliningherbs.com/about-us/our-plant-inventory/">Our Plant &amp; Inventory</a></li>
<li id="menu-item-76384" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-76384"><a href="https://www.silverliningherbs.com/about-us/recommended-links/">Recommended Links</a></li>
<li id="menu-item-76385" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-76385"><a href="https://www.silverliningherbs.com/subscribe-to-our-newsletter/">Subscribe To Our Newsletter</a></li>
</ul>              </div>
                <div class="col-md-3">
                    <h3>Terms &amp; Policies</h3>
					<ul id="menu-menuf-3" class="flinks"><li id="menu-item-76386" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-76386"><a href="https://www.silverliningherbs.com/terms-conditions/">Terms and Conditions</a></li>
</ul>              </div>
                <div class="col-md-2">
                    <h3>Quick Links</h3>
<ul id="menu-menuf-4" class="flinks"><li id="menu-item-76387" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-76387"><a href="https://www.silverliningherbs.com/chart/">Acupressure Chart</a></li>
</ul>               </div>
                <div class="col-md-2">
                    <h3>User Area</h3>

                   <ul id="menu-footer-menu-5" class="flinks">
<li id="menu-item-58596" class="menu-item">
<a href="https://shop.silverliningherbs.com/account/login">Login</a>
</li>
<li id="menu-item-58596" class="menu-item">
<a href="https://shop.silverliningherbs.com/account/register">Signup</a>
</li>
</ul>
                </div>


                <div class="col-md-12 text-center">
                    <a href="#top" class="scrolltop" alt="scroll to top"><i class="fa fa-angle-up" style="margin-top: -1px;" aria-hidden="true"></i></a>
                    <img src="https://silverliningherbs.com/wp-content/themes/sliverliningherbs/assets/images/brand.png">

                    <ul class="socialIcons">
                        <li>
                            <a href="https://www.facebook.com/SilverLiningHerbs/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="https://twitter.com/SLherbs" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/silverliningherbs/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/user/silverliningherbs" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                        </li>

                    </ul>
                    <p>Copyright <a href="https://silverliningherbs.com">Silver
                            Lining Herbs</a> © 2021
                        All Right Reserved. Powered by Tilt Media, LLC.</p>
                </div>


            </div>
        </div>
    </div>
</footer>

{% javascript %}
  class LocalizationForm extends HTMLElement {
    constructor() {
      super();
      this.elements = {
        input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
        button: this.querySelector('button'),
        panel: this.querySelector('.disclosure__list-wrapper'),
      };
      this.elements.button.addEventListener('click', this.openSelector.bind(this));
      this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
      this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

      this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
    }

    hidePanel() {
      this.elements.button.setAttribute('aria-expanded', 'false');
      this.elements.panel.setAttribute('hidden', true);
    }

    onContainerKeyUp(event) {
      if (event.code.toUpperCase() !== 'ESCAPE') return;

      this.hidePanel();
      this.elements.button.focus();
    }

    onItemClick(event) {
      event.preventDefault();
      const form = this.querySelector('form');
      this.elements.input.value = event.currentTarget.dataset.value;
      if (form) form.submit();
    }

    openSelector() {
      this.elements.button.focus();
      this.elements.panel.toggleAttribute('hidden');
      this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
    }

    closeSelector(event) {
      const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
      if (event.relatedTarget === null || shouldClose) {
        this.hidePanel();
      }
    }
  }

  customElements.define('localization-form', LocalizationForm);
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label",
          "info": "t:sections.footer.blocks.link_list.settings.heading.info"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share contact information, store details, and brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 200,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
<script>

    (function(h,o,t,j,a,r){

        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};

        h._hjSettings={hjid:3035123,hjsv:6};

        a=o.getElementsByTagName('head')[0];

        r=o.createElement('script');r.async=1;

        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;

        a.appendChild(r);

    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');

</script>

<!-- Start of HubSpot Embed Code --> <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/8376140.js"></script><!-- End of HubSpot Embed Code -->