{{ 'component-icon-grid.css' | asset_url | stylesheet_tag }}

{% render 'section-styles', section: section %}

<div class="section_container">
  <div class="grid-wrapper d-flex">
    {% for block in section.blocks %}
      <div class="icon-grid" style="background:{{ block.settings.block_bg }}">
        <div class="icon-grid-wrapper d-flex justify-center align-center">
          <div class="image_wrapper">{% render 'rimage', image: block.settings.image %}</div>
          <div class="text_wrapper" style="color:{{ block.settings.text_color }}">
            {% if block.settings.title != blank %}
              <div class="grid_title text-bold">{{ block.settings.title }}</div>
            {% endif %}
            {% if block.settings.subtitle != blank %}
              <div class="subtitle" style="color:{{ block.settings.text_color }}">{{ block.settings.subtitle }}</div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Icon Grid",
  "class": "section-icon-grid",
  "settings": [
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    }
  ],
  "blocks": [
    {
      "type": "icon-block",
      "name": "Icon block",
      "settings": [
        {
          "type": "header",
          "content": "Color"
        },
        {
          "type": "color",
          "id": "block_bg",
          "label": "Background"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text",
          "default": "#000"
        },
        {
          "type": "header",
          "content": "Settings"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "subtitle",
          "label": "Subtitle"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Icon Grid"
    }
  ]
}
{% endschema %}