{{ 'component-image-icon-overlay.css' | asset_url | stylesheet_tag }}

<div class="section_container">
  {% assign image = section.settings.image %}
  {% if image != blank %}
    <div class="image_wrapper hide--mobile">
      {% render 'rimage', image: section.settings.image %}
    </div>
    <div class="image_wrapper hide--desktop">
      {% assign mob_image = section.settings.mob_image | default: image %}
      {% render 'rimage', image: mob_image %}
    </div>
    <div class="main_content page-width">
      <div class="content_wrapper d-flex justify-between align-center">
        {% if section.blocks.size > 0 %}
          <div class="icon_grids d-flex">
            {% for block in section.blocks %}
              <div class="icon_grid_item d-flex">
                <div class="icon_wrapper m-auto">
                  {% render 'rimage', image: block.settings.icon %}
                </div>
                <div class="icon_title text-center">{{ block.settings.title }}</div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
        <div class="text_wrapper text-center">
          {% if section.settings.pretitle != blank %}
            <div class="pretitle text-bold">{{ section.settings.pretitle }}</div>
          {% endif %}
          {% if section.settings.title != blank %}
            <div class="title text-green text-bold">{{ section.settings.title }}</div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Image with icon overlay",
  "class": "section-image-icon-overlay",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mob_image",
      "label": "Image (mobile)"
    },
    {
      "type": "text",
      "id": "pretitle",
      "label": "Pretitle"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "icon",
      "name": "Icon",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image icon overlay"
    }
  ]
}
{% endschema %}