{{ 'component-image-with-text-blocks.css' | asset_url | stylesheet_tag }}

<div class="section_container">
  <div class="image-text-blocks">
    {% for block in section.blocks %}
      {% if block.settings.image != blank %}
        <div class="block_item {{ block.settings.class | handle }}" style="background:{{ block.settings.section_bg }}">
          <div class="block_item_wrapper page-width d-flex justify-between align-center{% if block.settings.image_pos == 'right' %} reverse{% endif %}">
            <div class="image_wrapper">
              {% render 'rimage', image: block.settings.image %}
            </div>
            <div class="content_wrapper d-flex{% if block.settings.image_pos == 'right' %} reverse{% endif %}">
              <div class="s_image_wrapper hide--desktop">{% render 'rimage', image: block.settings.second_img %}</div>
              <div class="text_wrapper">
                {% if block.settings.pretitle != blank %}
                  <div class="pretitle">{{ block.settings.pretitle }}</div>
                {% endif %}
                {% if block.settings.title != blank %}
                  <div class="title text-bold">{{ block.settings.title }}</div>
                {% endif %}
                {% if block.settings.desc != blank %}
                  <div class="desc rte">{{ block.settings.desc }}</div>
                {% endif %}
                {% if block.settings.btn_label != blank and block.settings.btn_link != blank %}
                  <div class="btn_wrapper">
                    <a href="{{ block.settings.btn_link }}" class="button button-circle text-bold">{{ block.settings.btn_label }}</a>
                  </div>
                {% endif %}
              </div>
              <div class="s_image_wrapper hide--mobile">{% render 'rimage', image: block.settings.second_img %}</div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Image with text blocks",
  "class": "section-image-text-blocks",
  "settings": [
    
  ],
  "blocks": [
    {
      "type": "image-text-block",
      "name": "Image with text block",
      "settings": [
        {
          "type": "header",
          "content": "Background"
        },
        {
          "type": "color",
          "id": "section_bg",
          "label": "Background"
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "second_img",
          "label": "Second image"
        },
        {
          "type": "select",
          "options": [
            {
              "value": "left",
              "label": "Image on left"
            },
            {
              "value": "right",
              "label": "Image on right"
            }
          ],
          "id": "image_pos",
          "default": "left",
          "label": "Image position"
        },
        {
          "type": "text",
          "id": "pretitle",
          "label": "Pretitle"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "desc",
          "label": "Description"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "btn_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Button link"
        },
        {
          "type": "header",
          "content": "Additional fields"
        },
        {
          "type": "text",
          "id": "class",
          "label": "Class"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with text blocks"
    }
  ]
}
{% endschema %}