{{ 'component-image-overlay.css' | asset_url | stylesheet_tag }}

{% capture main_info %}
  {% if section.settings.desc != blank %}
    <div class="rte desc">{{ section.settings.desc }}</div>
  {% endif %}
  {% if section.settings.subtitle != blank %}
    <div class="subtitle text-bold">{{ section.settings.subtitle }}</div>
  {% endif %}
  {% if section.settings.desc_2 != blank %}
    <div class="rte desc desc_2 d-flex">{{ section.settings.desc_2 }}</div>
  {% endif %}
  <div class="price_wrapper d-flex align-center">
    {% if section.settings.compare_price != blank %}
      <span class="compare_price">{{ section.settings.compare_price }}</span>
    {% endif %}
    {% if section.settings.price != blank %}
      <span class="price">{{ section.settings.price }}</span>
    {% endif %}
    {% if section.settings.discount_text != blank %}
      <span class="discount_text">{{ section.settings.discount_text }}</span>
    {% endif %}
  </div>
{% endcapture %}

<div class="section_container">
  {% assign image = section.settings.image %}
  {% if image != blank %}
    <div class="image_wrapper hide--mobile">
      {% render 'rimage', image: image %}
    </div>
    <div class="image_wrapper hide--desktop">
      {% assign mob_image = section.settings.mob_image | default: image %}
      {% render 'rimage', image: mob_image %}
    </div>
    <div class="main_content page-width">
      <div class="content_wrapper">
        {% if section.settings.pretitle != blank %}
          <h3 class="pretitle text-bold">{{ section.settings.pretitle }}</h3>
        {% endif %}
        {% if section.settings.title != blank %}
          <h2 class="title text-bold">{{ section.settings.title }}</h2>
        {% endif %}
        <div class="icon-star">
          {% render 'icon' with 'icon-star-green' %}
        </div>
        <div class="hide--mobile">
          {{ main_info }}
        </div>
        {% if section.settings.btn_label != blank and section.settings.btn_link != blank %}
          <div class="btn_wrapper">
            <a href="{{ section.settings.btn_link }}" class="button button-circle text-bold">{{ section.settings.btn_label }}</a>
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
</div>

<div class="mobile_content hide--desktop">
  {{ main_info }}
</div>

{% schema %}
{
  "name": "Image overlay",
  "class": "section-image-overlay",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mob_image",
      "label": "Image (mobile)"
    },
    {
      "type": "text",
      "id": "pretitle",
      "label": "Pretitle"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "desc",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "richtext",
      "id": "desc_2",
      "label": "Description 2"
    },
    {
      "type": "header",
      "content": "Price"
    },
    {
      "type": "text",
      "id": "price",
      "label": "Price"
    },
    {
      "type": "text",
      "id": "compare_price",
      "label": "Compare Price"
    },
    {
      "type": "text",
      "id": "discount_text",
      "label": "Discount Text"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "name": "Image overlay"
    }
  ]
}
{% endschema %}