{{ 'component-product-explore.css' | asset_url | stylesheet_tag }}

{% render 'section-styles', section: section %}

<div class="section_container page-width">
  <div class="section_header text-center">
    <div class="section_title">{{ section.settings.title }}</div>
    {% if section.settings.subtitle != blank %}
      <div class="subtitle">{{ section.settings.subtitle }}</div>
    {% endif %}
  </div>
  <div class="product_items d-flex">
    {% for block in section.blocks %}
      <div class="product_explore_item d-flex">
        <div class="product_explore_item_wrapper" data-anchor-btn data-target="{{ block.settings.t_class | handle }}">
          <div class="image_wrapper">{% render 'rimage', image: block.settings.image %}</div>
          <div class="product_title text-center hide--mobile">{{ block.settings.title }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Product explore",
  "class": "section-product-explore",
  "settings": [
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "header",
      "content": "Contents"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "t_class",
          "label": "Target Class"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product explore"
    }
  ]
}
{% endschema %}