.section-featured-products-grid {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (max-width: 768px) {
  .section-featured-products-grid {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .section-featured-products-grid .main_wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 769px) {
  .section-featured-products-grid .grid-wrapper {
    display: flex;
    align-items: stretch;
  }
  .section-featured-products-grid .product-grid-item {
    height: inherit;
    min-width: calc(100% / 6 - 10px);
    max-width: calc(100% / 6 - 10px);
  }
}

@media (max-width: 768px) {
  .section-featured-products-grid .product-grid-item {
    padding: 0 15px 5px;
  }
}

.product-grid-item-wrapper {
  background: #FFF;
  border-radius: 20px;  
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media (min-width: 769px) {
  .product-grid-item-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.product-grid-item-wrapper .product_info_wrapper {
  padding: 0 10px 25px;
}

@media (min-width: 769px) {
  .product-grid-item-wrapper .product_info_wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

.section-featured-products-grid .product_vendor {
  font-size: 12px;
  text-transform: uppercase;
}

.section-featured-products-grid .product_title {
  font-size: 18px;
}

@media (max-width: 1440px) {
  .section-featured-products-grid .product_title {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .section-featured-products-grid .product_title {
    font-size: 18px;
  }
}

@media (min-width: 769px) {
  .section-featured-products-grid .product_title {
    flex: 1;
  }
}

.section-featured-products-grid .product_price {
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.section-featured-products-grid form {
  margin-top: 15px;
}