.section-footer-landing {
  padding-top: 45px;
  padding-bottom: 45px;
}

@media (max-width: 768px) {
  .section-footer-landing {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.section-footer-landing .footer_menus {
  list-style: none;
  padding-left: 0px;
}

.section-footer-landing .footer_menus li {
  margin-left: 30px;
  margin-right: 30px;
}

@media (max-width: 768px) {
  .section-footer-landing .footer_menus li {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.section-footer-landing .footer_menus a {
  color: #000;
  font-size: 18px;
}

@media (max-width: 768px) {
  .section-footer-landing .footer_menus a {
    font-size: 16px;
  }
}

.footer_info {
  font-size: 20px;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .footer_info {
    margin-top: 20px;
  }
}

.footer_info em {
  font-size: 18px;
  font-style: normal;
}

.footer_info strong {
  font-size: 24px;
}

@media (max-width: 768px) {
  .footer_info {
    font-size: 18px;
  }
  .footer_info em {
    display: block;
  }
  .footer_info strong {
    font-size: 20px;
  }
  .footer_info p:not(:last-child) {
    margin-bottom: 15px;
  }
}

.section-footer-landing .socialIcons {
  list-style: none;
  margin-top: 25px;
  margin-bottom: 0px;
  padding-left: 0px;
}

@media (max-width: 768px) {
  .section-footer-landing .socialIcons {
    margin-top: 20px;
  }
}

.section-footer-landing .socialIcons li {
  margin-left: 15px;
  margin-right: 15px;
}

@media (max-width: 768px) {
  .section-footer-landing .socialIcons li {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.section-footer-landing .socialIcons i::before {
  color: #000;
  font-size: 34px;
}

@media (max-width: 768px) {
  .section-footer-landing .socialIcons i::before {
    font-size: 24px;
  }
}