.section-icon-grid .section_container {
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
}

@media (max-width: 768px) {
  .section-icon-grid {
  }
}

.section-icon-grid .icon-grid .image_wrapper {
  min-width: 70px;
  max-width: 70px;
}

@media (max-width: 1440px) {
  .section-icon-grid .icon-grid .image_wrapper {
    min-width: 60px;
    max-width: 60px;
  }
}

@media (max-width: 768px) {
  .section-icon-grid .icon-grid .image_wrapper {
    min-width: 30px;
    max-width: 30px;
  }
  .section-icon-grid .grid-wrapper {
    flex-direction: column;
  }
}

.section-icon-grid .grid-wrapper .icon-grid {
  min-width: calc(100% / 3);
  max-width: calc(100% / 3);
  padding-bottom: 35px;
  padding-top: 35px;
}

@media (max-width: 768px) {
  .section-icon-grid .grid-wrapper .icon-grid {
    min-width: 100%;
    max-width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .section-icon-grid .grid-wrapper .icon-grid-wrapper {
    justify-content: flex-start;
    padding-left: 30px;
  }
}

.section-icon-grid .grid-wrapper .icon-grid .text_wrapper {
  margin-left: 30px;
}

@media (max-width: 768px) {
  .section-icon-grid .grid-wrapper .icon-grid .text_wrapper {
    margin-left: 20px;
  }
}

.section-icon-grid .grid-wrapper .icon-grid .grid_title {
  font-size: 24px;
}

@media (max-width: 1440px) {
  .section-icon-grid .grid-wrapper .icon-grid .grid_title {
    font-size: 20px;
  }
}

.section-icon-grid .grid-wrapper .icon-grid .subtitle {
  font-size: 20px;
}

@media (max-width: 1440px) {
  .section-icon-grid .grid-wrapper .icon-grid .subtitle {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .section-icon-grid .grid-wrapper .icon-grid .subtitle {
    font-size: 16px;
    margin-top: -3px;
  }
}

.section-icon-grid .grid-wrapper .icon-grid .subtitle p:last-child {
  margin-bottom: 0px;
}