.section-image-text-blocks .block_item_wrapper > div {
  min-width: calc(50% - 45px);
  max-width: calc(50% - 45px);
}

@media (max-width: 768px) {
  .section-image-text-blocks .block_item_wrapper > div {
    min-width: 100%;
    max-width: 100%;
  }
  .section-image-text-blocks .block_item_wrapper .image_wrapper {
    min-width: calc(100% + 3rem);
    max-width: calc(100% + 3rem);
    margin-top: 30px;
  }
  .section-image-text-blocks .block_item_wrapper {
    flex-direction: column-reverse;
  }
}

.section-image-text-blocks .block_item {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (max-width: 768px) {
  .section-image-text-blocks .block_item {
    /* background: transparent !important; */
    padding-bottom: 0px;
  }
}

.section-image-text-blocks .block_item .s_image_wrapper {
  min-width: 30%;
}

@media (max-width: 768px) {
  .section-image-text-blocks .block_item .content_wrapper {
    /* justify-content: space-between; */
    display: block;
  }
  .section-image-text-blocks .block_item .content_wrapper .s_image_wrapper {
    float: left;
    min-width: calc(40% - 15px);
    max-width: calc(40% - 15px);
    margin-right: 30px;
  }
  .section-image-text-blocks .block_item .content_wrapper.reverse .s_image_wrapper {
    float: right;
    margin-left: 30px;
  }
  .section-image-text-blocks .block_item .content_wrapper .text_wrapper {
    /* min-width: calc(60% - 15px); */
    /* max-width: calc(60% - 15px); */
  }
}

.section-image-text-blocks .block_item .text_wrapper {
  padding-right: 45px;
}

.section-image-text-blocks .block_item .reverse .text_wrapper {
  padding-right: 0px;
  padding-left: 45px;
}

@media (max-width: 768px) {
  .section-image-text-blocks .block_item .text_wrapper {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

.section-image-text-blocks .block_item .pretitle {
  font-size: 18px;
}

@media (max-width: 768px) {
  .section-image-text-blocks .block_item .pretitle {
    font-size: 14px;
  }
}

.section-image-text-blocks .block_item .title {
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media (max-width: 1440px) {
  .section-image-text-blocks .block_item .title {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .section-image-text-blocks .block_item .title {
    font-size: 20px;
  }
}

.section-image-text-blocks .block_item .desc {
  font-size: 18px;
  margin-top: 15px;
}

@media (max-width: 768px) {
  .section-image-text-blocks .block_item .desc {
    font-size: 14px;
    margin-top: 10px;
  }
}

.section-image-text-blocks .block_item .btn_wrapper {
  margin-top: 30px;
}

@media (max-width: 768px) {
  .section-image-text-blocks .block_item .btn_wrapper {
    margin-top: 20px;
    text-align: center;
  }
}

.section-image-text-blocks .block_item .btn_wrapper .button {
  color: #FFF !important;
  font-size: 19px;
  width: 200px;
  height: 56px;
  text-decoration: none;
}

@media (max-width: 1440px) {
  .section-image-text-blocks .block_item .btn_wrapper .button {
    font-size: 18px;
    width: 180px;
    height: 50px;
  }
}

@media (max-width: 768px) {
  .section-image-text-blocks .block_item .btn_wrapper .button {
    font-size: 16px;
    height: 40px;
    max-width: 140px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.section-image-text-blocks .block_item .btn_wrapper .button::before, .section-image-text-blocks .block_item .btn_wrapper .button::after {
  display: none;
}