
/* ----------------- Announcement Bar ------------------ */

.section-announcement-bar {
  position: relative;
}

.section-announcement-bar .logo {
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 200px;
  position: absolute;
}

.section-announcement-bar .announcement_text {
  font-size: 44px;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (max-width: 1440px) {
  .section-announcement-bar .announcement_text {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .section-announcement-bar .announcement_text {
    font-size: 14px;
  }
}