
/* --------------- Image Overlay Section ------------------ */

.section-image-overlay .main_content {
  left: 50%;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.section-image-overlay .content_wrapper {
  color: #1A2715;
  margin-left: auto;
  padding-left: 50px;
  width: 50%;
}

@media (max-width: 768px) {
  .section-image-overlay .content_wrapper {
    padding-left: 20px;
    text-align: right;
  }
}

.section-image-overlay .title {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  padding-right: 180px;
}

@media (max-width: 768px) {
  .section-image-overlay .title {
    font-size: 20px !important;
    margin-top: 5px !important;
    margin-bottom: 10px !important;
    padding-right: 0px;
  }
}

.section-image-overlay .pretitle {
  letter-spacing: 0.1em;
}

@media (max-width: 768px) {
  .section-image-overlay .pretitle {
    font-size: 14px;
  }
}

.section-image-overlay .icon-star {
  margin-top: 30px;
  margin-bottom: 5px;
}

@media (max-width: 1440px) {
  .section-image-overlay .icon-star {
    margin-top: 15px;
  }
}

@media (max-width: 768px) {
  .section-image-overlay .icon-star {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.section-image-overlay .icon-star svg {
  width: 175px;
  height: auto;
}

@media (max-width: 1440px) {
  .section-image-overlay .icon-star svg {
    width: 140px;
  }
}

@media (max-width: 768px) {
  .section-image-overlay .icon-star svg {
    width: 100px;
  }
}

.section-image-overlay .desc {
  font-size: 24px;
}

@media (max-width: 1440px) {
  .section-image-overlay .desc {
    font-size: 18px;
  }
}

.section-image-overlay .s_image {
  margin-top: 60px;
}

@media (max-width: 1440px) {
  .section-image-overlay .s_image {
    margin-top: 30px;
  }
}

.section-image-overlay .s_title {
  font-size: 28px;
}

@media (max-width: 1440px) {
  .section-image-overlay .s_title {
    font-size: 24px;
  }
}

.section-image-overlay .desc_2 {
  font-size: 24px;
  flex-wrap: wrap;
}

@media (max-width: 1440px) {
  .section-image-overlay .desc_2 {
    font-size: 18px;
  }
}

.section-image-overlay .desc_2 p {
  margin-bottom: 0px;
  max-width: 50%;
  min-width: 50%;
}

.section-image-overlay .subtitle {
  color: #1a2715;
  font-size: 24px;
  margin-top: 25px;
  margin-bottom: 15px;
}

@media (max-width: 1440px) {
  .section-image-overlay .subtitle {
    font-size: 20px;
    margin-top: 15px;
  }
}

.section-image-overlay .price_wrapper {
  margin-top: 15px;
}

.section-image-overlay .price_wrapper .compare_price {
  font-size: 26px;
  text-decoration: line-through;
}

.section-image-overlay .price_wrapper .price {
  color: #5BB426;
  font-size: 36px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

.section-image-overlay .price_wrapper .discount_text {
  border: 1px solid #000;
  border-radius: 32px;
  font-size: 20px;
  padding: 3px 20px;
}

@media (max-width: 1440px) {
  .section-image-overlay .price_wrapper .compare_price {
    font-size: 20px;
  }
  .section-image-overlay .price_wrapper .price {
    font-size: 24px;
  }
  .section-image-overlay .price_wrapper .discount_text {
    font-size: 16px;
    padding: 3px 15px;
  }
}

@media (max-width: 768px) {
  .section-image-overlay .price_wrapper .compare_price {
    font-size: 16px;
  }
  .section-image-overlay .price_wrapper .price {
    font-size: 18px;
  }
  .section-image-overlay .price_wrapper .discount_text {
    font-size: 14px;
    padding: 3px 10px;
  }
}

.section-image-overlay .btn_wrapper {
  margin-top: 15px;
}

.section-image-overlay .btn_wrapper a {
  font-size: 26px;
  height: 70px;
  width: 270px;
}

@media (max-width: 1440px) {
  .section-image-overlay .btn_wrapper a {
    width: 180px;
    height: 50px;
    font-size: 18px;
  }
}

@media (max-width: 768px) {

  .section-image-overlay .s_title {
    color: #000;
    font-size: 18px;
    text-shadow: none;
  }

  .section-image-overlay .mobile_content {
    background: linear-gradient(180deg, rgba(238, 238, 238, 0) 0%, #EEEEEE 26.47%, #F8F8F8 100%);
    padding: 15px 15px;
  }

  .section-image-overlay .mobile_content .desc {
    color: #1A2715;
    font-size: 14px;
    margin-top: 8px;
  }
  .section-image-overlay .mobile_content .desc p:last-child {
    margin-bottom: 0px;
  }
  .section-image-overlay .subtitle {
    font-size: 16px;
    line-height: 1.2;
  }
  .section-image-overlay .btn_wrapper {
    margin-top: 12px;
  }
  .section-image-overlay .btn_wrapper a {
    font-size: 14px;
    width: 108px;
    height: 33px;
    min-height: unset;
    min-width: unset;
    padding: 0px !important;
  }
  .section-image-overlay .desc_2 p {
    max-width: 60%;
    min-width: 60%;
  }
  .section-image-overlay .desc_2 p:nth-child(2n) {
    max-width: 40%;
    min-width: 40%;
  }
}

.s_img_wrapper {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 15px;
}

.s_img_wrapper a {
  flex: 1;
  padding-left: 15px;
  padding-right: 15px;
}

.s_img_wrapper a:nth-child(4) {
  flex: 1.6;
}

@media (max-width: 1440px) {
  .s_img_wrapper {
    margin-left: -8px;
    margin-right: -8xp;
  }
  .s_img_wrapper a {
    padding-left: 8px;
    padding-right: 8px;
  }
}