
/* -------------- Image icon overlay section ------------- */

.section-image-icon-overlay .main_content {
  position: absolute;
  left: 50%;
  width: 100%;
  top: 45px;
  transform: translateX(-50%);
}

@media (max-width: 1440px) {
  .section-image-icon-overlay .main_content {
    top: 30px;
  }
}

@media (max-width: 768px) {
  .section-image-icon-overlay .main_content {
    top: 15px;
  }
}

@media (max-width: 768px) {
  .section-image-icon-overlay .main_content .content_wrapper {
    flex-direction: column;
  }
}
.section-image-icon-overlay .icon_wrapper {
  width: 70px;
}

@media (max-width: 768px) {
  .section-image-icon-overlay .icon_wrapper {
    width: 40px;
  }
}

.section-image-icon-overlay .icon_grid_item {
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.section-image-icon-overlay .icon_grid_item:not(:last-child) {
  margin-right: 60px;
  padding-right: 60px;
}

@media (max-width: 1440px) {
  .section-image-icon-overlay .icon_grid_item:not(:last-child) {
    margin-right: 30px;
    padding-right: 30px;
  }
}

.section-image-icon-overlay .icon_grid_item:not(:last-child)::after {
  background: #cccccc;
  content: '';
  width: 1px;
  height: 120px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

@media (max-width: 768px) {
  .section-image-icon-overlay .icon_grid_item:not(:last-child)::after {
    height: 80px;
  }
}

.section-image-icon-overlay .icon_grid_item .icon_title {
  font-size: 24px;
  max-width: 190px;
  margin-top: 15px;
}

@media (max-width: 1440px) {
  .section-image-icon-overlay .icon_grid_item .icon_title {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .section-image-icon-overlay .icon_grid_item .icon_title {
    font-size: 14px;
    margin-top: 5px;
    line-height: 1.2;
  }
}

@media (max-width: 768px) {
  .section-image-icon-overlay .text_wrapper {
    margin-top: 10px;
  }
}

.section-image-icon-overlay .text_wrapper .pretitle {
  font-size: 32px;
}

@media (max-width: 1440px) {
  .section-image-icon-overlay .text_wrapper .pretitle {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .section-image-icon-overlay .text_wrapper .pretitle {
    font-size: 20px;
  }
}

.section-image-icon-overlay .text_wrapper .title {
  font-size: 52px;
  margin-top: 0px;
  margin-bottom: 0px; 
}

@media (max-width: 1440px) {
  .section-image-icon-overlay .text_wrapper .title {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .section-image-icon-overlay .text_wrapper .title {
    font-size: 28px;
  }
}