.section-featured-reviews {
  padding-top: 60px;
}

@media (max-width: 768px) {
  .section-featured-reviews .main_content {
    padding-left: 10px;
    padding-right: 10px;
  }  
  .section-featured-reviews {
    padding-top: 35px;
  }
}

@media (min-width: 769px) {
  .section-featured-reviews .reviews_wrapper {
    display: flex;
  }
  .section-featured-reviews .reviews_wrapper .review_item {
    min-width: calc(100% / 3 - 25px);
    max-width: calc(100% / 3 - 25px);
  }
}

@media (max-width: 768px) {
  .section-featured-reviews .reviews_wrapper .review_item {
    padding: 0 15px 5px;
  }
}

.section-featured-reviews .reviews_wrapper .review_item .review_item_wrapper {
  border: 1px solid #ddd;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  height: 100%;
  padding: 30px;
}

@media (max-width: 768px) {
  .section-featured-reviews .reviews_wrapper .review_item .review_item_wrapper {
    flex-wrap: wrap;
    height: auto;
    padding: 15px;
  }
  .section-featured-reviews .review_item_wrapper .content_wrapper {
    max-width: calc(100% - 80px);
    min-width: calc(100% - 80px);
  }
  .section-featured-reviews .review_item_wrapper .icon_wrapper svg {
    width: 80px;
  }
}

@media (max-width: 1440px) and (min-width: 769px) {
  .section-featured-reviews .reviews_wrapper .review_item {
    min-width: calc(100% / 3 - 15px);
    max-width: calc(100% / 3 - 15px);
  }
}

.section-featured-reviews .review_item .image_wrapper {
  min-width: 130px;
  max-width: 130px;
  margin-right: 30px;
}

@media (max-width: 1440px) {
  .section-featured-reviews .review_item .image_wrapper {
    min-width: 120px;
    max-width: 120px;
  }
}

@media (max-width: 768px) {
  .section-featured-reviews .review_item .image_wrapper {
    min-width: 65px;
    max-width: 65px;
    margin-right: 15px;
  }
}

.section-featured-reviews .review_item .author {
  font-size: 18px;
}

@media (max-width: 768px) {
  .section-featured-reviews .review_item .author {
    margin-top: -3px;
  }
}

.section-featured-reviews .review_item .subtitle {
  color: #000;
  font-size: 14px;
  line-height: 1.2;
  margin-top: 15px;
}

@media (max-width: 768px) {
  .section-featured-reviews .review_item .subtitle {
    margin-top: 5px;
  }
}

.section-featured-reviews .review_item .desc {
  color: #000;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 20px;
}

.section-featured-reviews .review_item .desc p:last-child {
  margin-bottom: 0px;
}