.section-product-explore .section_header {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .section-product-explore .section_header {
    margin-bottom: 20px;
  }
}

.section-product-explore .section_title {
  font-size: 32px;
  font-weight: bold;
  margin: 0px;
}

@media (max-width: 768px) {
  .section-product-explore .section_title {
    font-size: 16px;
  }
}

.section-product-explore .subtitle {
  color: #000;
  font-size: 26px;
  line-height: 1;
}

@media (max-width: 768px) {
  .section-product-explore .subtitle {
    font-size: 14px;
    line-height: 1.5;
  }
}

.section-product-explore .product_explore_item {
  flex: 1;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 768px) {
  .section-product-explore .product_explore_item {
    padding-left: 8px;
    padding-right: 8px;
  }
  
  .section-product-explore .product_items {
    margin-left: -8px;
    margin-right: -8px;
  }
}

.section-product-explore .product_explore_item:nth-child(4) {
  flex: 1.5;
}

.product_explore_item_wrapper {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.product_explore_item_wrapper .image_wrapper {
  flex: 1;
  padding-left: 25px;
  padding-right: 25px;
}

@media (max-width: 768px) {
  .product_explore_item_wrapper .image_wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.section-product-explore .product_title {
  color: #1A2715;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  height: 48px;
}