/* ------------ Layout ---------- */

body {
  font-family: var(--font-body-family) !important;
}

.page-width {
  max-width: 1600px;
}

.rimage {
  width: 100%;
  height: auto;
}
.slideshow__media.banner__media.media a {
    z-index: 999;
}
.slideshow__media.banner__media.media a img {
    display: block;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
@media (min-width: 769px) {
  .hide--desktop {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .hide--mobile {
    display: none !important;
  }
}

.section_container {
  position: relative;
}

.text-bold {
  font-weight: bold;
}

.text-white {
  color: #FFF;
}

.text-green {
  color: #5BB426;
}

.text-white.text-shadow {
  text-shadow: 0px 1px 1px #000000;
}

h2, .h2 {
  font-size: 44px !important;
  line-height: 120%;
}

@media (max-width: 1440px) {
  h2, .h2 {
    font-size: 36px !important;
  }
}

.d-flex {
  display: flex;
}

.reverse {
  flex-direction: row-reverse;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

.button-circle {
  border-radius: 50px;
}

.button-circle::before, .button-circle::after {
  display: none;
}

.section_header-regular .pretitle {
  font-size: 22px;
}

@media (max-width: 768px) {
  .section_header-regular .pretitle {
    font-size: 18px;
  }
}

.section_header-regular .title {
  margin-top: 0px;
  margin-bottom: 45px;
}

@media (max-width: 768px) {
  .section_header-regular .title {
    font-size: 24px !important;
    margin-bottom: 35px;
  }
}

[data-custom-arrows] .slick-prev {
  left: -15px;
}

[data-custom-arrows] .slick-next {
  right: -15px;
}

[data-custom-arrows] button.slick-arrow {
  width: 25px;
  height: 25px;
}

[data-custom-arrows] button.slick-arrow svg {
  position: absolute;
  height: 100%;
  width: auto;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

[data-custom-arrows] button.slick-arrow::before {
  display: none;
}

/* -------------- Landing Page --------------- */

body.template-page-landing .header-wrapper,
body.template-page-landing #fsb_container,
body.template-cart #shopify-section-header, body.template-cart #shopify-section-announcement-bar,
body.new-layout #shopify-section-announcement-bar
{
  display: none !important;
}

body.new-layout #shopify-section-header {
  margin-top: 45px;
}

body.new-layout .new-layout-header {
  height: 45px;
  top: 0;
  width: 100%;
  position: absolute;
}

